.titulo {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  background-color: #863b3b;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 1px 1px 1px;
  margin-bottom: 0px;
  font-size: 25px;
  width: 100%; }

.lista_barra {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  width: 100%; }

.lista_barra_item {
  display: inline-block;
  margin: 3px 3px 3px 3px;
  border: solid 1px black;
  padding: 2px 2px 2px 2px;
  transition: all 1s;
  color: #863b3b;
  text-decoration: none; }

.lista_barra_item:hover {
  transform: scale(1.25);
  background-image: linear-gradient(#863b3b, #771b1b); }

.fa-brands {
  color: #771b1b; }

.fa-brands:hover {
  transform: scale(1.25);
  color: rgba(0, 0, 255, 0.527); }

.barrax {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  height: 100px; }

.titulo {
  background-color: #863b3b;
  font-family: "Times New Roman", Times, serif; }

.minitit {
  font-size: 19px;
  font-family: "Times New Roman", Times, serif; }
  .minitit .resp {
    font-size: 14px; }

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #863b3b; }
  .footer .links {
    display: flex;
    justify-content: center;
    list-style: none; }

.carousel {
  width: 900px;
  height: 900px;
  margin: auto; }

@media only screen and (max-width: 600px) {
  .logo {
    height: 300px;
    width: 300px; }
  .subtitulo {
    text-align: center;
    justify-content: center; }
  .titulo {
    text-align: center;
    justify-content: center; }
  .miniatura {
    display: flex;
    justify-content: left; }
  .fotitos {
    display: grid;
    grid-template-columns: 1fr; }
  .lista_barra_item {
    flex-wrap: wrap; }
  .carousel {
    display: none; } }

.familia {
  display: block;
  margin: auto;
  object-fit: cover;
  border: solid 10px #631c1c;
  margin-top: 25px;
  margin-bottom: 25px; }

.form {
  margin-bottom: 25px; }

.subtituloQ {
  font-family: "Times New Roman", Times, serif;
  margin: auto;
  font-size: 25px;
  padding: 2px 1px 1px 1px;
  font-weight: 300;
  color: white;
  width: 1300px;
  background-color: #863b3b; }

.familia {
  display: block;
  margin: auto;
  object-fit: cover;
  border: solid 10px #631c1c;
  margin-top: 25px;
  margin-bottom: 25px; }

.tabla {
  display: flexbox;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.logo_lp {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 600px;
  height: 200px; }
