
.lista_barra{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    
}
.lista_barra_item{
    display: inline-block;
    margin: 3px 3px 3px 3px;
    border: solid 1px black;
    padding: 2px 2px 2px 2px;
    transition: all 1s;
}
.lista_barra_item:hover{
    transform: scale(1.25);
    background-image: linear-gradient(rgb(122, 63, 73), rgb(119, 27, 27)) ;
    ;
}
.item_text:hover{
    color: white;
}
.container {
   position: relative;
  }
.logo {
    width: 650px;
    height: 300px;
    display: block;
    margin: auto;
    object-fit: cover;
    padding: 50px 50px 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(134, 59, 59);

  }
.container:hover .overlay {
    opacity: 1;
  }
.mensaje {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: solid 2px;
}
  
.miniatura{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
    object-fit: cover;
}
.titulo{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;
    background-color: rgb(134, 59, 59);
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding: 0px 1px 1px 1px;
    margin-bottom: 0px;
    margin-top: 5px;

}
.subtitulo{
font-family: 'Times New Roman', Times, serif;
display: flex;
align-items:center;
justify-content: center;
font-size: 25px;
padding: 2px 1px 1px 1px;
margin: 2px 1px 1px 1px;
font-weight: 600;
color: rgb(99, 28, 28);


}
a {
    text-decoration: none;
    color: rgb(99, 28, 28);
}
.pie{
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgb(134, 59, 59) ;
    height: 100px;
  
}
.pie_item{
    margin: 10px;
}

.fotitos{
 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: auto;
    margin-left: 40px;
   
}
.foto1{
    margin: 15px 15px 15px 15px;
  
}
.foto2{
    margin: 15px 15px 15px 15px;
}
.foto3{
    margin: 15px 15px 15px 15px;

}

.links{
    display: flex;
    justify-content: center;
    list-style: none;
    
    
}
.face{
    padding-right: 25px;
    
}
.footer{
    background-color: rgb(134, 59, 59);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1px 1px 1px;
    margin-bottom: 0px;
    font-size: 25px;
    
}
.subtituloQ{
    font-family: 'Times New Roman', Times, serif;
display:flex;
margin: auto;
justify-content: center;
text-align: center;
font-size: 25px;
padding: 2px 1px 1px 1px;
font-weight: 300;
color: white;
width: 1300px;
background-color: rgb(134, 59, 59);
}

.familia{
  display: block;
  margin: auto;
  object-fit: cover;
  border: solid 10px rgb(99, 28, 28);
  margin-top: 25px;
  margin-bottom: 25px;
    
}
.logo_lp{
    display: block;
    margin: auto;
    object-fit: cover;
    width: 600px;
    height: 200px;
}
.tabla{
   display:flexbox;
   margin: auto;
   margin-top: 25px;
   margin-bottom: 25px;
}
.logocon{
    padding: 0px 0px 0px 0px;
    display: block;
    margin: auto;
    object-fit: cover;
    width: 650px;
    height: 250px;
}
.minitit{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
    margin: 10px 10px 10px 10px;
}
.resp{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px 10px 10px 10px;

}

.form{

    margin-bottom: 25px;
}
.main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr;
}

@media only screen and (max-width: 600px){
 .logo{
     height: 300px;
     width: 300px;
 }
 .subtitulo{
     text-align: center;
     justify-content: center;
 }
 .titulo{
    text-align: center;
    justify-content: center;   
 }
 .miniatura{
     display: flex;
     justify-content: left;
 }
 .fotitos{
     display: grid;
     grid-template-columns: 1fr ;
 }
 .lista_barra_item{
     flex-wrap: wrap;

 }
 .carousel{
     display: none;
 }
}
.carousel{
    width: 900px;
    height: 900px;
    margin: auto;
}
.barrax{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr;
    height: 100px;
}

