.lista_barra{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    
}
.lista_barra_item{
    display: inline-block;
    margin: 3px 3px 3px 3px;
    border: solid 1px black;
    padding: 2px 2px 2px 2px;
    transition: all 1s;
    color: rgb(134, 59, 59) ;
    text-decoration: none;
}
.lista_barra_item:hover{
    transform: scale(1.25);
    background-image: linear-gradient(rgb(122, 63, 73), rgb(119, 27, 27)) ;
    color: white;
    
}
.item_text:hover{
    color: white;
}
.container {
   position: relative;
  }
.logo {
    width: 650px;
    height: 300px;
    display: block;
    margin: auto;
    object-fit: cover;
    padding: 50px 50px 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(134, 59, 59);

  }
.container:hover .overlay {
    opacity: 1;
  }
.mensaje {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: solid 2px;
}
.section{
    height: 500px;
}
.contenedor{
    background-color: rgb(134, 59, 59);
    width: 600px;
    height: 400px;
    margin-bottom: 100px;
    display: block;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}
.testimonio{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.section div{
    color: white;
    text-align: center;
}
.roman{
    display: block;
    margin: auto;
    object-fit: cover;
    width: 400px;
    height: 200px;
    border: solid white ;
    margin-top: 3px;
}
  
.miniatura{
    width: 75px;
    height: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;  
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 5px;
}
.titulo{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;
    background-color: rgb(134, 59, 59);
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding: 0px 1px 1px 1px;
    margin-bottom: 0px;
    flex-wrap: wrap;

}
.subtitulo{
font-family: 'Times New Roman', Times, serif;
display: flex;
align-items:center;
justify-content: center;
font-size: 25px;
padding: 2px 1px 1px 1px;
margin: 2px 1px 1px 1px;
font-weight: 600;
color: rgb(99, 28, 28);
}
a {
    text-decoration: none;
    color: rgb(99, 28, 28);
}
.pie{
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:rgb(134, 59, 59) ;
    height: 100px;
  
}
.pie_item{
    margin: 10px;
}

.fotitos{
 
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: auto;
}
.foto_1{
    margin: 15px 15px 15px 15px;
    border: solid 5px ;
    color: rgb(134, 59, 59);
    height: 289px;
    width: 310px;
  
}


.links{
    display: flex;
    justify-content: center;
    list-style: none;
    color: rgb(134, 59, 59);
    
    
}
.face{
    padding-right: 25px;
    color: rgb(134, 59, 59);
    
}
.footer{
    background-color: rgb(134, 59, 59);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1px 1px 1px;
    margin-bottom: 0px;
    font-size: 25px;
    
}
.subtitulo2{
    font-family: 'Times New Roman', Times, serif;
    display:flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding: 2px 1px 1px 1px;
    font-weight: 300;
    color: white;
    background-color: rgb(134, 59, 59);
}

.familia{
  display: block;
  margin: auto;
  object-fit: cover;
  border: solid 10px rgb(99, 28, 28);
  margin-top: 25px;
  margin-bottom: 25px;
    
}

.tabla{
   display:flexbox;
   margin: auto;
   margin-top: 25px;
   margin-bottom: 25px;
   font-size: 30px;
   font-family: times;
   border: solid 3px;
}

.minitit{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;

}
.resp{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px 10px 10px 100px;

}
.form{
    margin-left: 100px;
}
.comentario{
    width: 500px;
}
.info-contacto{
    margin-left: 25px;
    margin-bottom: 25px;
}
.main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr;
}
.carousel{
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    border: solid 5px rgb(99, 28, 28);
}
.pasta{
    width: 500px;
    height: 490px;
}


@media only screen and (max-width: 600px){
 .titulo{
     flex-wrap: wrap;
     font-size: 50px; 
 }   
 .logo{
     height: 400px;
     width: 500px;
 }
 .subtitulo{
     text-align: center;
     justify-content: center;
     flex-wrap: wrap;
 }
 .subtitulo2{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 450px;
    font-size: small;
 }
 .familia{
     height: 200px;
     width: 400px;
 }

 .miniatura{
     display: flex;
     justify-content: left;

 }
 .fotitos{
     display: grid;
     grid-template-columns: 1fr ;
 }
 .lista_barra_item{
     flex-wrap: wrap;

 }
 
 .mapa{
     width: 500px;
     height: 400px;
 }
 .comentario{
     width: 400px;
 }
 .carousel{
     display: none;
 }
 .tabla{
     width: 300px;
 }
}
.fa-brands{
    color:rgb(119, 27, 27) ;
}
.fa-brands:hover{
    transform: scale(1.25);
    color: white;
    ;
}
.section div h1{
   margin: none;
   align-items: center;
   text-align: center;
   justify-content: center;
}
.nombre-p{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align:start;
    font-weight: 400px;
    flex-wrap: wrap;
}