.titulo{
    background-color: $color-principal;
    font-family: $font-principal;
    @extend %flex-center ;
}
.minitit{
    font-size: map-get($tamanio-tipografia , subtitulo );
    font-family: $font-principal;

    .resp{
        font-size: map-get($tamanio-tipograf ,parrafo );
    }
    
}
.footer{
    background-color: $color-principal;
        .links{
            display: flex;
            justify-content: center;
            list-style: none;
        }
    }
    @include flexbox(flex-start, center)
};

