.footer{
    background-color: $color-principal;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 1px 1px 1px;
    margin-bottom: 0px;
    font-size: 25px;
    width: $tamania-total;
    
}

.lista_barra{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    width: $tamania-total
    
}
.lista_barra_item{
    display: inline-block;
    margin: 3px 3px 3px 3px;
    border: solid 1px black;
    padding: 2px 2px 2px 2px;
    transition: all 1s;
    color: $color-principal ;
    text-decoration: none;
}
.lista_barra_item:hover{
    transform: scale(1.25);
    background-image: linear-gradient($color-principal, rgb(119, 27, 27)) ;
    ;
}
.fa-brands{
    color:rgb(119, 27, 27) ;
}
.fa-brands:hover{
    transform: scale(1.25);
    color: rgba(0, 0, 255, 0.527);
    ;
}
.barrax{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr;
    height: 100px;
}