.tabla{
    display:flexbox;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px; 
}

.logo_lp{
    display: block;
    margin: auto;
    object-fit: cover;
    width: 600px;
    height: 200px;
}